<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wrx.mapper.LogMapper">
    <!--条件分页查询log信息-->
    <select id="getLog" resultType="com.wrx.pojo.OperateLog">
        SELECT ol.id ,
               ol.operate_emp_id ,
               ol.operate_time ,
               ol.class_name ,
               ol.method_name ,
               ol.method_params ,
               ol.return_value ,
               ol.cost_time ,
               e.name operate_empName
        FROM operate_log ol
                 LEFT JOIN emp e
                           on ol.operate_emp_id = e.id
    </select>
</mapper>